@media (max-width: 768px) {
  .caixa {
    padding-left: 60px;
    padding-right: 60px;
  }

  .caixadecores {
    padding: 50px;
  }

  .btn {
    padding: 10px;
  }

  .titulo {
    padding: 6px;
    font-size: 22px;
  }
}

@media (max-width: 425px) {
  .caixa {
    padding-left: 60px;
    padding-right: 60px;
  }

  .caixadecores {
    padding: 70px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .btn {
    font-size: 20px;
  }

  .titulo {
    font-size: 20px;
  }
}
