@media (max-width: 768px) {
  .caixa {
    padding: 40px;
  }

  .caixadecores {
    padding: 50px;
  }

  .btn {
    padding: 10px;
  }

  h1 {
    padding: 6px;
    font-size: 25px;
  }
}

@media (max-width: 425px) {
  .caixa {
    padding-left: 60px;
    padding-right: 60px;
  }

  .caixadecores {
    padding: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }

  h1 {
    font-size: 18px;
  }
}
