body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(33, 33, 33);
}
.themewhite body {
  background-color: rgb(212, 212, 212);
}

.caixadecores {
  padding: 100px;
  background: rgb(88, 87, 87);
  background: linear-gradient(
    0deg,
    rgba(88, 87, 87, 1) 32%,
    rgba(88, 85, 85, 1) 39%,
    rgba(140, 140, 140, 1) 72%
  );
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: 1px 1px 10px 5px rgb(19, 22, 22);
  transition: 0.3s;
}
.caixadecores:hover {
  box-shadow: 1px 1px 10px 5px rgb(37, 41, 41);
}

.caixa {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgb(24, 23, 23) 18%,
    rgb(24, 21, 24) 39%,
    rgb(31, 31, 32) 73%
  );
  box-shadow: 1px 5px 30px 6px rgb(15, 15, 15);
  padding: 25px;
  border-radius: 14px;
}

.btn {
  color: rgb(0, 0, 0);
  transition: 0.4s;
  margin: 5px;
  border: none;
  padding: 20px;
  cursor: pointer;
  border-radius: 20px;
  background: rgb(68, 65, 65);
  background: linear-gradient(
    0deg,
    rgba(68, 65, 65, 1) 32%,
    rgba(84, 79, 79, 1) 39%,
    rgba(136, 132, 132, 1) 72%
  );
  box-shadow: 1px 1px 10px 3px rgb(17, 17, 17);
  font-size: 16px;
}
.btn:hover {
  transition: 0.5s;
  color: white;
  box-shadow: 1px 1px 10px 5px rgb(49, 54, 54);
}

.titulo {
  background: linear-gradient(
    0deg,
    rgb(41, 38, 38) 18%,
    rgb(39, 38, 38) 39%,
    rgb(20, 20, 20) 73%
  );
  font-family: "Tourney", cursive;
  color: rgb(87, 85, 85);
  text-shadow: rgb(20, 20, 20) 0.1em 0.1em 0.2em;
  border-radius: 15px;
  padding: 10px;
  cursor: default;
}

.icone {
  font-size: 20px;
  transition: 0.3s;
  color: rgb(121, 117, 117);
  cursor: pointer;
}
.icone:hover {
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px 10px 2px rgb(49, 54, 54);
}

.themewhite .caixa {
  background: rgb(200, 197, 197);
  background: linear-gradient(
    0deg,
    rgba(200, 197, 197, 1) 32%,
    rgba(205, 204, 204, 1) 39%,
    rgba(231, 229, 229, 1) 72%
  );
  box-shadow: 1px 5px 30px 6px rgb(132, 129, 129);
}

.themewhite .btn {
  background: linear-gradient(
    0deg,
    rgba(164, 164, 164, 1) 32%,
    rgba(184, 184, 184, 1) 39%,
    rgba(245, 245, 245, 1) 72%
  );
  box-shadow: 1px 1px 10px 3px rgb(213, 209, 209);
}
.themewhite .btn:hover {
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px 10px 5px rgb(177, 180, 180);
}

.themewhite .titulo {
  background: rgb(249, 243, 243);
  background: linear-gradient(
    0deg,
    rgba(249, 243, 243, 1) 32%,
    rgba(241, 236, 236, 1) 39%,
    rgba(204, 200, 200, 1) 72%
  );

  text-shadow: rgb(194, 189, 189) 0.1em 0.1em 0.2em;
}

.themewhite .icone {
  color: rgb(121, 117, 117);
}
.themewhite .icone:hover {
  color: rgb(61, 52, 52);
  box-shadow: 1px 1px 10px 2px rgb(196, 199, 199);
}

.themewhite .caixadecores {
  background: rgb(156, 154, 154);
  background: linear-gradient(
    0deg,
    rgba(156, 154, 154, 1) 32%,
    rgba(159, 156, 156, 1) 39%,
    rgba(221, 218, 218, 1) 72%
  );

  box-shadow: 1px 1px 10px 5px rgb(176, 181, 181);
}
.themewhite .caixadecores:hover {
  box-shadow: 1px 1px 10px 5px rgb(153, 158, 158);
}
